body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1em;
  text-align: center;
}

hr {
  color: white;
  width: 325px;
  margin-top: 25px;
}

a {
  text-decoration:none;
}

.container {
  text-align: center;
}

.link {
  color: white;
  padding: 0px 20px;
  font-size: 1.5em;
}

.link:hover {
  color: gold;
}

.project-link {
  color: white;
  padding: 0px 20px;
  font-size: 1.5em;
}

.project-link:hover {
  color: gold;
  cursor: pointer;
}

.contact-link {
  color: white;
  padding: 0px 20px;
  font-size: 1.5em;
}

.contact-link:hover {
  color: gold;
  cursor: pointer;
}

.mobileShow {
  display: none;
}

.resume:hover {
  color: gold;
}

.display-wrapper {
  height: 75px;
}

.projects a {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.projects a:hover {
  color: gold;
}

@media (max-width: 1024px) {
  .mobileShow {
    font-size: 0.65em;
    display: inline;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container i{
    margin: 10px;
  }
}

